<main class="form">
        <p class="form__instructions">
          Si tienes cualquier consulta y prefieres un contacto directo a mi e-mail puedes rellenar el siguiente formulario.
        </p>
      <form 
        id="form" 
        class="form__section"
        action="https://formspree.io/f/xayaggje"
        method="POST"
      >
          <label class="form__label" for="Name"
            >Nombre *
          </label>
          <input
            class="form__input"
            placeholder="Escribe tu nombre..."
            type="text"
            id="Name"
            name="Name"
          />
          <label class="form__label" for="emailAddress"
            >
            E-mail *
          </label>
          <input
            class="form__input"
            placeholder="Escribe tu E-mail..."
            type="email"
            id="emailAddress"
            name="emailAddress"
          />
          <label class="form__label"
          for="phone"
            >
            Teléfono
          </label>
          <input
            class="form__input"
            placeholder="Ej:123456789"
            type="tel"
            id="phone"
            name="phone"
          />
        <label class="form__label" for="comments"
          >
          Mensaje *
        </label>
        <input
          class="form__text"
          placeholder="Escribe tu consulta"
          type="text"
          id="comments"
          name="comments"
          size="15"
          maxlength="100"
        />
        <input class="form__button" type="submit" value="Enviar" />
      </form>
      <p class="form__instructions">
        Todos los campos con * son obligatorios.
      </p>
  </main>