<main class="main">
    <section>
      <article>
        <h1>Contacto</h1>
        <p>
          Si tienes cualquier consulta y prefieres un contacto directo a mi e-mail puedes rellenar el siguiente formulario
        </p>
        <p>
          Todos los campos con <span class="asterisk">*</span> son
          obligatorios.
        </p>
      </article>
    </section>
    <section id="form">
      <form
        action="https://formspree.io/f/xayaggje"
        method="POST"
      >
        <label class="label" for="Name"
          >Nombre completo <span class="asterisk">*</span>
          <input
            class="form"
            placeholder="Escribe tu nombre..."
            type="text"
            id="Name"
            name="Name"
          />
        </label>
        <label for="emailAddress"
          >E-mail <span class="asterisk">*</span>
          <input
            class="form"
            placeholder="Escribe tu E-mail..."
            type="email"
            id="emailAddress"
            name="emailAddress"
        /></label>
        <label for="phone"
          >Teléfono
          <input
            class="form"
            placeholder="Ej:123456789"
            type="tel"
            id="phone"
            name="phone"
        /></label>
        <label for="comments"
          >Mensaje <span class="asterisk">*</span>
          <input
            placeholder="Escribe aquí tu consulta o comentario"
            type="text"
            id="comments"
            name="comments"
            size="15"
            maxlength="100"
        /></label>
        <input class="input" type="submit" value="Enviar" />
      </form>
    </section>
  </main>