<main class="main">
    <section class="form__instructions">
        <p>
          Si tienes cualquier consulta y prefieres un contacto directo a mi e-mail puedes rellenar el siguiente formulario
        </p>
        <p>
          Todos los campos con <span class="asterisk">*</span> son
          obligatorios.
        </p>
    </section>
    <section id="form" class="form__section">
      <form 
        class="form__short"
        action="https://formspree.io/f/xayaggje"
        method="POST"
      >
          <label class="form__label" for="Name"
            >Nombre completo <span class="asterisk">*</span>
            <input
              class="form__input"
              placeholder="Escribe tu nombre..."
              type="text"
              id="Name"
              name="Name"
            />
          </label>
          <label class="form__label" for="emailAddress"
            >E-mail <span class="asterisk">*</span>
            <input
              class="form__input"
              placeholder="Escribe tu E-mail..."
              type="email"
              id="emailAddress"
              name="emailAddress"
          /></label>
          <label class="form__label"
          for="phone"
            >Teléfono
            <input
              class="form__input"
              placeholder="Ej:123456789"
              type="tel"
              id="phone"
              name="phone"
          /></label>
        <label class="form__label" for="comments"
          >Mensaje <span class="asterisk">*</span>
          <input
            class="form__fill"
            placeholder="Escribe aquí tu consulta o comentario"
            type="text"
            id="comments"
            name="comments"
            size="15"
            maxlength="100"
        /></label>
        <input class="form__button" type="submit" value="Enviar" />
      </form>
    </section>
    <a class="main__link" href="./contact.html" title="Up"
          ><img class="main__link--arrow" src="./assets/images/arrow-up.svg" alt="arrow"
        /></a>
  </main>