<footer class="footer">
  <nav class="footer__navigation">
    <ul class="footer__navigation--list">
      <li>
        <a href="https://github.com/IreGonzalez?tab=repositories" title="Adalab" target="-blank">Mis Repositorios</a>
      </li>
      <li>
        <a href="https://iregonzalez.github.io/modulo-2-evaluacion-final-IreGonzalez/" title="Adalab" target="-blank">Buscador de Series</a>
      </li>
      <li>
        <a href="https://iregonzalez.github.io/modulo-3-evaluacion-final-IreGonzalez/#/" title="Adalab" target="-blank">Buscador de Personajes</a>
      </li>
      <li>
        <a href="https://adalab.es/" title="Adalab" target="-blank">Adalab</a>
      </li>
    </ul>
    <ul class="footer__navigation--list">
      <li>
        <a href="https://twitter.com/IreGonzalez3" title="Adalab" target="-blank">Twitter</a>
      </li>
      <li>
        <a href="https://github.com/IreGonzalez" title="Adalab" target="-blank"
          >Github</a
        >
      </li>
      <li>
        <a href="https://www.linkedin.com/in/iregonzalez/" title="Adalab" target="-blank"
          >Linkedin</a
        >
      </li>
    </ul>
  </nav>
  <div class="footer__bottom">
    <h6 class="footer__bottom--copy">&copy;2021</h6>
    <h6 class="footer__bottom--small">
      I <i class="fas fa-heart"></i> mixins
    </h6>
  </div>
</footer>
