<a class="footer__link" href="./index.html"
  ><img src="./assets/images/ico-arrow.svg" alt="arrow" title="Home"
/></a>
<footer class="footer">
  <nav class="footer__navigation">
    <ul class="footer__navigation--articles">
      <li>
        <a href="https://adalab.es/" title="Adalab" target="-blank">Articles</a>
      </li>
      <li>
        <a href="https://adalab.es/" title="Adalab" target="-blank"> Books</a>
      </li>
      <li>
        <a href="https://adalab.es/" title="Adalab" target="-blank">Events</a>
      </li>
      <li>
        <a href="https://adalab.es/" title="Adalab" target="-blank">Reasons</a>
      </li>
      <li>
        <a href="https://adalab.es/" title="Adalab" target="-blank">Tips</a>
      </li>
    </ul>
  </nav>
  <nav class="footer__navigation">
    <ul class="footer__navigation--rrss">
      <li>
        <a href="https://adalab.es/" title="Adalab" target="-blank">Twitter</a>
      </li>
      <li>
        <a href="https://adalab.es/" title="Adalab" target="-blank"
          >Instagram</a
        >
      </li>
      <li>
        <a href="https://adalab.es/" title="Adalab" target="-blank"
          >Mastodon.Social</a
        >
      </li>
    </ul>
  </nav>
  <div class="footer__bottom">
    <h6 class="footer__bottom--copy">&copy;2021</h6>
    <h6 class="footer__bottom--small">
      We <i class="fas fa-heart"></i> components
    </h6>
  </div>
</footer>
