<footer class="footer">
  <nav class="footer__navigation">
    <ul class="footer__navigation--list">
      <li>
        <a href="https://github.com/IreGonzalez?tab=repositories" title="Repositorios de GitHub" target="-blank">Repositorios</a>
      </li>
      <li>
        <a href="./index.html" title="Principal">Principal</a>
      </li>
      <li>
        <a href="./bio.html" title="Biografía">Biografía</a>
      </li>
      <li>
        <a href="./projects.html" title="Proyectos">Proyectos</a>
      </li>
      <li>
        <a href="./contact.html" title="Contacto">Contacto</a>
      </li>
      <li>
        <a href="https://adalab.es/" title="Adalab" target="-blank">Adalab</a>
      </li>
    </ul>
    <ul class="footer__navigation--list">
      <li>
        <a href="https://twitter.com/IreGonzalez3" title="Twitter" target="-blank">Twitter</a>
      </li>
      <li>
        <a href="https://github.com/IreGonzalez" title="Github" target="-blank"
          >Github</a
        >
      </li>
      <li>
        <a href="https://www.linkedin.com/in/iregonzalez/" title="Linkedin" target="-blank"
          >Linkedin</a
        >
      </li>
    </ul>
  </nav>
  <div class="footer__bottom">
    <h6 class="footer__bottom--copy">&copy;2021</h6>
    <h6 class="footer__bottom--small">
      I <i class="fas fa-heart"></i> mixins
    </h6>
  </div>
</footer>
