<header class="header">
  <nav class="header__navigation">
    <a
      class="header__navigation--link"
      href="https://adalab.es/"
      target="-blank"
      title="Adalab"
    >
      <img src="./assets/images/ico-menu.svg" alt="menu"
    /></a>
  </nav>
  <div class="header__text">
    <h1 class="header__text--title">Irene González</h1>
    <h2 class="header__text--subtitle">Front-end developer</h2>
    <a
      class="header__text--link"
      href="./index.html#reasons"
      title="3 Datos Curiosos"
    >
      <img class="header__text--link__arrow" src="./assets/images/chevron-arrow-down.svg" alt="scroll" />
    </a>
  </div>
</header>
