<header class="header">
  <nav class="header__navigation">
    <img 
    class="header__navigation--link js_nav" 
    src="./assets/images/ico-menu.svg"
    alt="menu"
    />
    <div class="hidden header__navigation--list js_navList">
      <img 
    class="header__navigation--link js_navClose" 
    src="./assets/images/remove-button.png"
    alt="close"
    />
    <ul>
      <li>Página principal</li>
      <li >Biografía</li>
      <li>Proyectos</li>
      <li>Contacto</li>
      <li>Linkedin</li>
      <li>Github</li>
    </ul>
    </div>
  </nav>
  <div class="header__text">
    <h1 class="header__text--title">Irene González</h1>
    <h2 class="header__text--subtitle">@@subtitle</h2>
    <a
      class="@@aClass"
      href="./index.html#reasons"
      title="@@reasons"
    >
      <img class="@@imgClass" src="./assets/images/chevron-arrow-down.svg" alt="scroll" />
    </a>
  </div>
</header>
