<header class="header">
  <nav class="header__navigation">
    <div class="header__navigation--link js_nav" >
      <img 
        src="./assets/images/ico-menu.svg"
        alt="menu"
    />
    </div>
    <div class="hidden header__navigation--list js_navList">
      <img 
    class="header__navigation--link js_navClose" 
    src="./assets/images/remove-button.png"
    alt="close"
    />
    <ul class="header__navigation--elements">
      <li class="header__navigation--elem"><a href="./index.html">Página principal</a></li>
      <li class="header__navigation--elem"><a href="./bio.html">Biografía</a></li>
      <li class="header__navigation--elem"><a href="./projects.html">Proyectos</a></li>
      <li class="header__navigation--elem"><a href="./contact.html">Contacto</a></li>
      <li class="header__navigation--elem"><a href="https://www.linkedin.com/in/iregonzalez/" title="Linkedin" target="-blank">Linkedin</a></li>
      <li class="header__navigation--elem"><a href="https://github.com/IreGonzalez" title="GitHub" target="-blank">Github</a></li>
    </ul>
    </div>
  </nav>
  <div class="header__text">
    <h1 class="header__text--title">Irene González</h1>
    <h2 class="header__text--subtitle">@@subtitle</h2>
    <a
      class="@@aClass"
      href="@@href"
      title="@@reasons"
    >
      <img class="@@imgClass" src="./assets/images/chevron-arrow-down.svg" alt="scroll" />
    </a>
  </div>
</header>
