<main class="main__projects">
    <section class="main__projects--descript">
        <h2 class="main__tips--tips">Descripción</h2>
        <h3 class="main__tips--title">La evolución en Adalab</h3>
        <p class="main__tips--text">
            Durante los meses de formación en Adalab he realizado distintos tipos de proyectos: El primero que realicé sola es la base de la web por la que te encuentras navegando, a la que he realizado diversas modificaciones de maquetación, así como he añadido funcionalidades tales como el menú hamburguesa mediante Java Script.
        </p>
        <p class="main__tips--text">
            En el siguiente apartado encontrarás por orden de ejecución los ejercicios realizados en las evaluaciones de Adalab, algunas ya están modificadas y otras son completamente nuevas y de idea propia.
        </p>
        <p class="main__tips--text">
            Mi intención es que sea una página completamente viva e ir añadiendo nuevos proyectos y más modificaciones de los que ya están presentes.
        </p>
        <p class="main__tips--text">
            
        </p>
    </section>
    <section class="main__projects--list">
        <h3 class="main__projects--title">Proyectos</h3>
        <ul id="list">
            <li class="project">
                <!-- <include
                    src="./project.html"
                    title="Adivina el número"
                    text="Prueba tu agudeza mental intentando adivinar un número aleatorio generado entre 1 y 100."
                    text2="Se trata de un ejercicio sencillo que fue mi toma de contacto con JavaScript."
                    img="./assets/images/project-adivina.JPG" alt="Adivina el número"
                    web="https://iregonzalez.github.io/adivina-el-numero/"
                    codigo="https://github.com/IreGonzalez/adivina-el-numero">
                </include> -->
            </li>
            <li class="project">
                <include
                    src="./project.html"
                    title="Buscador de series"
                    text="Accede a la Web, realiza tu búsqueda y guarda tus series favoritas en la lista y si ya no te gusta, ¡borrala!"
                    text2="Cada vez que accedas a la web, tu selección permanecerá intacta en la caché de tu ordenador siempre que no la resetees."
                    text3="Se trata del primer proyecto individual realizado por completo en JavaScript con el que puse a prueba mis conocimientos iniciales sobre este lenguaje."
                    img="./assets/images/project-series.JPG" alt="Web Series"
                    web="https://iregonzalez.github.io/buscador-de-series/"
                    codigo="https://github.com/IreGonzalez/buscador-de-series">
                </include>
            </li>
            <li class="project">
                <include
                src="./project.html"
                title="Knit projects"
                text="Web con la que organizar y filtrar los proyectos kniting que estés realizando. Aunque aparentemente lo veas vacío, seguro que si consultas el código no te parece lo mismo."
                text2="Este proyecto comenzó siendo un gestor de clubs con el que me inicié en el uso de la biblioteca de Java Scrip, React. Realizamos este proyecto donde la mayor dificultad estaba en reprogramar nuestro cerebro."
                text3="Actualmente este proyecto está en plena fase de transformación, mi intención es completar las versiones tablet y desktop para hacerla totalmente responsive, también quiero implementar más funcionalidades como escoger entre distintas técnicas tejeriles o ordenarlos según prioridad de entrega."
                img="./assets/images/project-knit.JPG" alt="Mis clubs"
                web="https://iregonzalez.github.io/knit-projects/"
                codigo="https://github.com/IreGonzalez/knit-projects">
                </include>
            </li>
            <li class="project">
                <include
                    src="./project.html"
                    title="Buscador de Personajes"
                    text="Si te gusta la serie echa un vistazo a los personajes que han surgido hasta ahora, filtralos como quieras y... ¡A por los siguientes!"
                    text2="En este ejercicio final las directrices únicamente solicitaban una petición a la Api y algún filtro, pero no pude conformarme viendo que había tantos personajes decidí realizar la paginación (aún no es perfecta, pronto seguiré trabajando en ella)"
                    text3="A la hora de realizar los filtros me encontré con el handicap de no conocer la serie así que me las averigué para que en cada paginación los filtros se modifican de manera automática facilitando en cada momento las opciones necesarias."
                    text4=" Gracias a esto estoy buscando una nueva api a la que adaptar el diseño de la página, ya que creo que únicamente tendré que cambiar la maquetación para que sea más acorde con la nueva serie o película."
                    img="./assets/images/project-r&m.JPG" alt="Web Rick & Morty"
                    web="https://iregonzalez.github.io/buscador-de-personajes/#/"
                    codigo="https://github.com/IreGonzalez/buscador-de-personajes">
                </include>
            </li>
            <li class="project">
                <include
                    src="./project.html"
                    title="Google Extension"
                    text="Landpage en la que estoy implementando distintas funcionalidades para practicar JavaScript Vanilla."
                    text2="El fondo de pantalla cambia de forma random entre distintas imágenes extraídas de Flikr, al introducir tu nombre en el Input aoparecerá en tu saludo de Buenos días."
                    text3="Actualmente sigo trabajando en este proyecto para implementar más funcionalidades, como que pase de Buenos días a Buenas tardes y noches, añadir frases motivacionales o curiosas, mejorar la funcionalidad del Input, etc."
                    img="./assets/images/project-extension.JPG" alt="Google-Extension"
                    web="https://iregonzalez.github.io/google-extension/"
                    codigo="https://github.com/IreGonzalez/google-extension">
                </include>
            </li>
        </ul>
        <a class="main__link arrow__project" href="./projects.html" title="Up"
        ><img class="main__link--arrow" src="./assets/images/arrow-up.svg" alt="arrow"
        /></a>
    </section>
</main>