<main class="main">
    <section class="main__tips">
        <h2 class="main__tips--tips">Pequeño relato</h2>
        <h3 class="main__tips--title">Asómate al gérmen de esta programadora</h3>
            <p class="main__tips--text">
          En mi casa siempre hubo ordenador y como en casi todos sitios había que turnarse como buenos hermanos, para poder jugar me las tenía que ver con Ms2, en casa de mi abuelo jugábamos al Arkanoid en una pantalla de 16 colores gracias al disco de 5 1/4, todo un lujazo.
        </p>
        <p class="main__tips--text">
          Durante la carrera fui capaz a sobrevivir a Windows Vista gracias a Ubuntu y empecé a adentrarme en el mundo del software libre de forma totalmente autodidacta, incluso me atreví a instalarme un emulador de windows...wine...con el que me peleé hasta aburrirme solo para intentar jugar.
        </p>
        <p class="main__tips--text">
          El día que me hablaron de Adalab y me pusieron sobre la mesa aquello de la programación front-end, lo tuve claro, mi próximo destino es este sin lugar a dudas.
        </p>
        <button class="main__tips--button hidden">Go</button>
      </section>
      <section id="data" class="main__reasons">
        <h3 class="main__reasons--title">3 Datos curiosos</h3>
        <include
          src="./article.html"
          title="Ávida lectora"
          text="Coger un libro con tiempo para terminármelo es un vicio, me encanta la novela fantástica, aunque no rechazo un buen libro de novela negra"
        ></include>
        <include
          src="./article.html"
          title="Crochetera"
          text="Siempre quiero una vueltecita más y lo dejo...no suele ser solo una y siempre hay proyectos en mente y en lista de espera"
        ></include>
        <include
          src="./article.html"
          title="Ordenada"
          text="Economizo mi tiempo, así que intento ser consciente de lo que hago para ahorrame el revisar"
        ></include>
        <a class=" hidden" href="./projects.html" title="Proyectos"> main__reasons--button</a>
        <a class="main__link" href="./bio.html" title="Up"
          ><img class="main__link--arrow" src="./assets/images/arrow-up.svg" alt="arrow"
        /></a>
      </section>
</main>