<section id="reasons" class="main__reasons">
    <h3 class="main__reasons--title">3 Datos curiosos</h3>
    <include
      src="./article.html"
      title="Ávida lectora"
      text="Coger un libro con tiempo para terminármelo es un vicio, me encanta la novela fantástica, aunque no rechazo un buen libro de novela negra"
    ></include>
    <include
      src="./article.html"
      title="Crochetera"
      text="Siempre quiero una vueltecita más y lo dejo...no suele ser solo una y siempre hay proyectos en mente y en lista de espera"
    ></include>
    <include
      src="./article.html"
      title="Ordenada"
      text="Economizo mi tiempo, así que intento ser consciente de lo que hago para ahorrame el revisar"
    ></include>
    <a class="main__reasons--button" href="./projects.html" title="Proyectos">Proyectos</a>
    <a class="main__link" href="./index.html" title="Up"
      ><img class="main__link--arrow" src="./assets/images/arrow-up.svg" alt="arrow"
    /></a>
  </section>