<main class="main">
    <include 
        src="./project.html" 
        title="Buscador de series"
        text="Web en la que almacenar un listado de tus series favoritas"
        img="" alt="Web Series"
        web="https://iregonzalez.github.io/modulo-2-evaluacion-final-IreGonzalez/"
        codigo="https://github.com/IreGonzalez/modulo-2-evaluacion-final-IreGonzalez">
    </include>
    <include 
        src="./project.html" 
        title="Buscador de Personajes"
        text="Se trata de la realización de un buscador de personajes de la serie de animación Rick and Morty"
        img="" alt="Web Rick & Morty"
        web="https://iregonzalez.github.io/modulo-3-evaluacion-final-IreGonzalez/#/"
        codigo="https://github.com/IreGonzalez/modulo-3-evaluacion-final-IreGonzalez">
    </include>
    <include 
        src="./project.html" 
        title="Mis clubs"
        text="Web con la que organizar y filtrar tus clubs favoritos, este proyecto está pendiente de mejoras"
        img="" alt="Mis clubs"
        web="https://iregonzalez.github.io/modulo-3-evaluacion-intermedia-IreGonzalez/"
        codigo="https://github.com/IreGonzalez/modulo-3-evaluacion-intermedia-IreGonzalez">
    </include>
    <include 
        src="./project.html" 
        title="Adivina el número"
        text="Realizar un juego en el que se genere un número aleatorio y según el input del usuario genere una u otra respuesta"
        img="" alt="Adivina el número"
        web="https://iregonzalez.github.io/modulo-2-evaluacion-intermedia-IreGonzalez/"
        codigo="https://github.com/IreGonzalez/modulo-2-evaluacion-intermedia-IreGonzalez">
    </include>
    
</main>