<main class="main">
    <section class="main__tips">
        <h2 class="main__tips--tips">Pequeño relato</h2>
        <h3 class="main__tips--title">Asómate al gérmen de esta programadora</h3>
        <p class="main__tips--text">
            Durante varias semanas he estado inmersa en el mundo de la programación gracias a Adalab, consiguiendo realizar proyectos individuales y en grupo, aplicando la filosofía Agile para gestionar el cambio constante en el que me encontraba sumergida junto a mis compañeras.
        </p>
        <p class="main__tips--text">
            Soy una persona curiosa, con inquietud por aprender constantemente y crecer, así que estoy deseando tener mi oportunidad y seguir creciendo.
        </p>
        <p class="main__tips--text">
            Me encanta la combinación del trabajo en equipo y el individual, poniendo en valor las cualidades de cada miembro por el bien del conjunto.
        </p>
        <button class="main__tips--button" title="Go to Bio">Go</button>
      </section>
      <section id="reasons" class="main__reasons">
        <h3 class="main__reasons--title">Algunos proyectos</h3>
        <include
          src="./article.html"
          title="Buscador de personajes"
          text="Se trata de la realización de un buscador de personajes de la serie de animación Rick and Morty"
        ></include>
        <include
          src="./article.html"
          title="Buscador de series"
          text="Web en la que almacenar un listado de tus series favoritas"
        ></include>
        <include
          src="./article.html"
          title="Mis Clubs"
          text="Web con la que organizar y filtrar tus clubs favoritos, este proyecto está pendiente de mejoras"
        ></include>
        <a class="main__reasons--button" href="./projects.html" title="Proyectos">Proyectos</a>
        <a class="main__link" href="./index.html" title="Up"
          ><img class="main__link--arrow" src="./assets/images/arrow-up.svg" alt="arrow"
        /></a>
      </section>
</main>