    <img class="project__img"src="@@img" alt="@@alt">
    <div class="project__text">
      <h4 class="project__text--title">@@title</h4>
      <p class="project__text--text">@@text</p>
      <p class="project__text--text">@@text2</p>
      <p class="project__text--text">@@text3</p>
      <p class="project__text--text">@@text4</p>
      <p class="project__text--text">@@text5</p>
      <div class="project__text--links">
        <a href="@@web" title="Web"><img class="project__text--links__unit"src="./assets/images/link-symbol.png" alt="link"></a>
        <a href="@@codigo" title="Código"><img class="project__text--links__unit"src="./assets/images/code.png" alt=""></a>
      </div>
    </div>