<article class="main__projects--article">
    <img class="main__projects--article__img"src="@@img" alt="@@alt">
    <div class="projects__text">
      <h4 class="main__projects--article__title">@@title</h4>
      <p class="main__projects--article__text">@@text</p>
      <div class="projects__links">
        <a href="@@web" title="Web"><img class="main__projects--article__link"src="./assets/images/link-symbol.png" alt="link"></a>
        <a href="@@codigo" title="Código"><img class="main__projects--article__link"src="./assets/images/code.png" alt=""></a>
      </div>
    </div>
  </article>