@keyframes translate {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(5px);
  }
}
@keyframes scale {
  from {
    transform: translateY(50%) scale(0.2);
  }
  50% {
    transform: translateY(50%) scale(1.5);
  }
  to {
    transform: translateY(50%) scale(1.1);
  }
}
