// colors
$light-purple:rgba(79,110,197,0.1);
$purple: rgb(79,110,197);
$light-grey:rgba(168,168,168,0.3);
$medium-grey: rgb(168,168,168);
$dark-grey: #4e4e4e;

// fonts

@mixin header__title {
  font-family: 'Bodoni Moda', serif;
  font-size: 42px;
  line-height: 55px;
  text-transform: uppercase;
}

@mixin header__subtitle {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

@mixin main__title {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  color: black;
  text-transform: capitalize;
}

@mixin main__text{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #4a4a4a;
  margin-bottom: 30px;
}

@mixin main__article {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  line-height: 30px;
}

@mixin footer__navigation {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 30px;
  color: white;
}

.hidden{
  display: none;
}