.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #304268;
  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  &__navigation {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-around;
      max-width: 60%;
      order: 1;
      margin-right: 39px;
    }
    @media (min-width: 1200px) {
      margin-right: 370px;
    }
    &--list {
      @include footer__navigation;
      text-align: center;
      text-transform: uppercase;
      font-size: 16px;
      margin-top: 30px;
      @media (min-width: 768px) {
        text-align: left;
        margin-top: 45px;
        margin-bottom: 45px;
      }
    }
  }
  &__bottom {
    display: flex;
    flex-direction: column;
    @include footer__navigation;
    text-align: center;

    @media (min-width: 768px) {
      text-align: left;
      margin-left: 39px;
    }
    @media (min-width: 1200px) {
      margin-left: 370px;
    }
    &--copy {
      font-size: 14px;
      margin-top: 30px;
    }
    &--small {
      font-size: 14px;
      text-transform: lowercase;
      margin-bottom: 45px;
    }
  }
}
.fas {
  color: $bright-orange;
}
