.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #304268;
  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-around;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform: translateY(50%);
    margin: auto;
    background-color: white;
    border-radius: 50%;
    width: 45px;
    height: 45px;
  }
  &__navigation {
    @include footer__navigation;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 30px;
    @media (min-width: 768px) {
      order: 1;
      text-align: left;
      margin-top: 45px;
      margin-bottom: 45px;
    }
    &--articles {
      margin-top: 30px;
    }
    &--rrss {
    }
  }
  &__bottom {
    text-align: center;
    @media (min-width: 768px) {
      order: 0;
      text-align: left;
    }
    &--copy {
      @include footer__navigation;
      font-size: 14px;
      margin-top: 30px;
    }
    &--small {
      @include footer__navigation;
      font-size: 14px;
      text-transform: lowercase;
      margin-bottom: 45px;
    }
  }
}
.fas {
  color: $bright-orange;
}
