.header {
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: scroll;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.header__navigation {
  &--link {
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0271bc;
    height: 44px;
    width: 44px;
    /*img 16px *14px*/
  }
}
.header__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-family: "Roboto", sans-serif;
  color: white;
  &--title {
    @include header__title;
    width: 12ch;
    text-align: center;
    @media (min-width: 768px) {
      font-size: 80px;
      line-height: 106px;
      margin-bottom: 20px;
    }
    @media (min-width: 1200px) {
      font-size: 100px;
      line-height: 132px;
      margin-bottom: 0px;
    }
  }
  &--subtitle {
    @include header__subtitle;
    margin-bottom: 45px;
    @media (min-width: 768px) {
      font-size: 24px;
      margin-bottom: 30px;
    }
  }
  &--link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin-bottom: 53px;
    @media (min-width: 768px) {
      margin-bottom: 13px;
    }
  }
}
