.main__projects{
  &--descript{
    margin: 20px;
  }
  &--list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: $light-purple;
  }
}

.project{
  &__img{
    grid-column: span 1;
    width: 150px;
    height: 150px;
    margin: 10px;
  }
  &__text{
    &--title{
      grid-column: 2/5;
      @include main__title;
    }
    &--text{
  margin-left: 10px;
      @include main__text;
    }
    &--links{
      text-align: right;
      &__unit{
        width: 18px;
        padding: 5px;
      }
    }
  }
}