.main__projects{
  &--descript{
    margin: 20px;
  }
  &--list{
    background-color: $light-purple;
  }
}

.project{
  display: flex;
  &__img{
    width: 150px;
    height: 150px;
    margin: 10px;
  }
  &__text{
    &--title{
      @include main__title;
      margin: 15px;
    }
    &--text{
  margin-left: 10px;
      @include main__article;
      font-family: 'Lato', sans-serif;
      text-align: initial;
    }
    &--links{
      text-align: right;
      margin-right: 20px;
      &__unit{
        width: 18px;
        padding: 5px;
      }
    }
  }
}