.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__tips {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin-left: 15px;
  margin-right: 15px;
  @media (min-width: 768px) {
    margin-left: 39px;
  }
  @media (min-width: 1200px) {
    margin: 0, 275px, 0, 275px;
  }
  &--tips {
    font-size: 14px;
    color: #8ccbea;
    line-height: 30px;
    margin-top: 30px;
    @media (min-width: 1200px) {
      margin-top: 60px;
    }
  }
  &--title {
    @include main__title;
    margin-bottom: 15px;
    @media (min-width: 768px) {
      font-size: 26px;
      line-height: 45px;
      margin-bottom: 30px;
    }
    @media (min-width: 1200px) {
      font-size: 32px;
      line-height: 45px;
    }
  }
  &--text {
    font-size: 18px;
    line-height: 30px;
    color: #4a4a4a;
    margin-bottom: 30px;
    @media (min-width: 768px) {
      font-size: 20px;
    }
  }
  &--button {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: medium;
    text-align: center;
    line-height: 45px;
    color: $bright-orange;
    border: solid 2px $bright-orange;
    width: 76px;
    height: 45px;
    border-radius: 45px;
    margin-bottom: 45px;
    &:hover {
      background-color: $bright-orange;
      color: white;
    }
    transition: color ease-out 1s;
    @media (min-width: 768px) {
      width: 91px;
    }
    @media (min-width: 1200px) {
      width: 160px;
    }
  }
}
.main__reasons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 16%, 20%, 20%, 20%, 16%, 8%;
  background-color: #eff9ff;
  text-align: center;
  width: 100%;

  &--title {
    @include main__title;
    grid-column: span 3;
    grid-row: span 1;
    margin-top: 30px;

    @media (min-width: 1200px) {
      margin-top: 60px;
    }
  }

  &--article {
    @include main__article;
    margin-left: 70px;
    margin-right: 70px;
    grid-column: span 3;
    @media (min-width: 768px) {
      grid-column: span 1;
    }

    &__title {
      font-family: "Roboto Slab", serif;
      font-weight: bold;
      margin-top: 45px;
    }
    &__text {
      font-family: "Roboto", sans-serif;
    }
  }

  &--button {
    grid-column: span 3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bright-orange;
    width: 184px;
    height: 45px;
    border-radius: 45px;
    font-family: "Roboto", sans-serif;
    font-weight: medium;
    color: white;
    margin: auto;
    margin-top: 45px;
    margin-bottom: 60px;
    &:hover {
      color: $bright-orange;
      border: solid 2px $bright-orange;
      background-color: white;
    }
    transition: background ease-in-out 0.7s;
    @media (min-width: 768px) {
      margin-top: 60px;
    }
  }
}
.main__link {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: span 1;
  grid-column: span 3;
  position: relative;
  transform: translateY(-50%);
  background-color: white;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}
